/*verificar valores!!*/
@media screen and (max-width: 1768px) {
    .no-margin-top {
        margin-top: -1%;
    }
}

@media screen and (max-width: 768px) {
    .no-margin-top {
        margin-top: -5%;
    }

    .no-margin-top-2 {
        margin-top: -20%;
    }
}

/**/
.min-height {
    min-height: 80vh;
}

.margin-top-10 {
    margin-top: 10%;
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=text]:focus + label {
    color: #4CAF50 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

/* brand logo - top nav */
.logo {
    height: 100%;
    margin-top: 0.3em;
}

/*class="row"*/
.row {
    margin-top: 20px;
}

/*profile photo upload button*/
.input-field-photo {
    position: relative !important;
    bottom: 32px !important;
    left: 60px !important;
    margin-top: 0 !important;
    width: 200px;
}

/*Date picker*/
.picker__date-display {
    background-color: #4CAF50 !important;
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: #4CAF50 !important;
}

.picker__weekday-display {
    background-color: #4CAF50 !important;
}

.picker__close, .picker__today {
    color: #4CAF50 !important;
}

.picker__day.picker__day--today {
    color: #4CAF50 !important;
}

.picker__day.picker__day--today.picker__day--selected {
    color: #fff !important;
}

/*Profile changes*/
.changes-btn {
    font-size: 0.6rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    height: 2rem !important;
    line-height: 2rem !important;
}

/* footer position*/
.page-footer {
    position: static;
    right: 0;
    left: 0;
    bottom: 0;
}

/*user register*/
span.radio_label {
    color: #9e9e9e;
}

.radio_genero {
    padding-left: 10px !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #4CAF50 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #4CAF50 !important;
}

/*Switch colour*/

.switch label input[type=checkbox]:checked + .lever {
    background-color: #4CAF50 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #4CAF50 !important;
    left: 24px;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #4CAF50 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #4CAF50 !important;
    left: 24px;
}